<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPDDf0jZO-PbKJMavExF9IFenIX-RqY_o</string>
	<key>GCM_SENDER_ID</key>
	<string>665260069268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jrsussner.Tee-It-Up</string>
	<key>PROJECT_ID</key>
	<string>tee-it-up-9aa7b</string>
	<key>STORAGE_BUCKET</key>
	<string>tee-it-up-9aa7b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665260069268:ios:4dd261200258892db9bf81</string>
</dict>
</plist>