//
//  Secrets.sample.xcconfig
//  Tee It Up
//
//  Created by Jake Sussner on 8/14/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = your-rapidx-api-key-here
GMSPLACES_API_KEY = your-google-places-api-key-here
GOLF_API_KEY = your-golf-api-key-here
